/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
h2{
  padding: 30px 20px 20px;
}
i:hover{
  cursor: pointer;
}
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.f-wrap{
  flex-wrap: wrap;
}
/*padding*/
.p-5px{
  padding: 5px 0;
}
.p-10px{
  padding: 10px 0;
}
.pt-10px{
  padding-top: 10px;
}
.pb-10px{
  padding-bottom: 10px;
}
.pb-30px{
  padding-bottom: 30px;
}
.pl-10px{
  padding-left: 10px;
}
.pl-20px{
  padding-left: 20px;
}
/*font-size*/
.t-14px{
  font-size: 14px;
}
.t-10px{
  font-size: 10px;
}
.t-12px{
  font-size: 12px;
}
.t-24px{
  font-size: 24px;
}
.t-25px{
  font-size: 20px;
}
.text-decoration{
  text-decoration: none;
}
.bold{
  font-weight: bold;
}
.width-20px{
  width: 20px;
}
/*color*/
.grey{
  color: #717171;
}
.white{
  color: white;  
}

/*MAIN CONTAINER*/
.main-container{
  width: 100%;
  max-width: 1600px;
  height: calc(100vh - 90px);
  margin: 0 auto;
}
.container{
  width: calc(100vw - 230px);
  margin: 0 auto;
  overflow-y: auto;
}
.col-menu{
  height: 100%;
  width: 230px;
  color: white;
  background-color: black;
}
.logo-big{
  width: 180px;
  padding-top: 20px;
  padding-left: 20px;
}
.logo-small{
  width: 30px;
  display: none;
}
.icon-sx{
  width: 100%;
  color: #6C6C6C;
}
.icon-sx ul{
  width: 100%;
}
.icon-sx ul li{
  width: 100%;
  list-style: none;
  padding: 5px 0;
}
.icon-sx ul li a{
  width: 100%;
  text-decoration: none;
  padding-left: 20px;
  color: #6C6C6C;  
}
.border-yellow{
  border-left: 3px solid #ADFF2F; 
}
.icon-sx ul li a:hover .icon-big{
  filter: invert(0);
}
.icon-sx ul li a span{
  padding-left: 5px;
}
.icon-big{
  width: 30px;
  filter: invert(35%);
}
h4{
  padding-top: 20px;
  padding-bottom: 10px;
}
.icon-sx.playlist i{
  padding: 8px;
  color: black;
  background-color: #808080;
}
.icon-sx.playlist a:first-child:hover i{
  background-color: white;
}
.icon-sx a:first-child:hover .testo{
  color: white;
}
.icon-sx li a:hover{
  color: white;
}
.testo{
  padding-left: 5px;
}
.lista{
  overflow-y: auto;
  height: calc(100vh - 510px);
}
.icon-sx.playlist .lista li{
  padding-top: 10px;
}

.col-buttom{
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0 20px; 
}
.download{
  color: #717171;
}
.download img{
  filter: invert(30%);
}
.download:hover img{
  filter: invert(0);
}
.download:hover{
  color: white;
  cursor: pointer;
}
.barra{
  width: 100%;
  border: 1px solid #717171;
}
.user img{
  background-color: #808080;
}


.upgrade{
  position: fixed;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  align-items: center;
  height: 90px;
  width: calc(100vw - 230px);
  background-color: rgba(0, 0, 0, 0.5);
}
.upgrade a{
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 30px;
}
.upgrade a:hover{
  font-size: 15px;
  margin-right: 20px;
}
.musica{
  padding-top: 110px;
  background-color: #141922;

  color: white;
}
.generi ul{
  justify-content: center;
}
.generi ul li{
  list-style: none;
  padding: 0 10px;
}
.generi ul li a {
  text-decoration: none;
  color: #7D7F84;  

  position: relative;
}
.generi ul li a.active::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -3px;
  height: 15px;
  width: 30px;
  border-bottom: 2px solid #ADFF2F;
}
.generi ul li a:hover{
  color: white;
}
.row{
  padding: 0 10px;
}
.row .col{
  width: calc(100% / 6);
  padding: 0 10px;
}
.card{
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.card img{
  width: 100%;
}
.circle{
  border-radius: 50%;
}
.subtitle{
  font-size: 12px;
  font-weight: bold;
  color: #7B7E82;
}
.image{
  position: relative;
  overflow: hidden;
}
.play{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.play i{
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image:hover .play{
  display: block;
  cursor: pointer;
}

/*MENU BOTTOM*/
.menu-bottom{
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: 90px;
  background-color: #282828;
  padding: 0 10px;
  color: #868686;
}
.immagine{
  width: 40px;
}
.immagine img{
  width: 100%;
}
.text p:hover{
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.small-icon{
  padding-left: 20px;
}
.small-icon ul{
  display: flex;
}
.small-icon ul li{
  list-style: none;
  padding-right: 20px ;
}
/*.icon-heart{
  padding-left: 35px;
  padding-right: 20px;
}*/
.traccia i:hover{
  color: white;
}
.pulsanti{
  justify-content: center;
  padding-bottom: 10px;
}
.pulsanti i,
.dx i{
  padding: 0 10px;
  color: white;
}
.pulsanti i:nth-child(3n):hover{
  font-size: 26px;
  padding: 0 9px;  
}
.tempo span{
  padding: 0 20px;
}
.traccia i,
.dx i{
  font-size: 12px;
}

.bar{
  position: relative;
  z-index : 1;
  width: 400px;
  height: 3px;
  background-color: #5A5A5A;
  border-radius: 5px;
  cursor: pointer;
}
.bar::before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 3px;
  width   : 30%;  
  border-bottom: 3px solid #C1C1C1;
}
.bar i{
  position: absolute;
  color: white;
  font-size: 10px;
  left: 30%;
  bottom: -5px;
  display: none;
}
.tempo:hover .bar i{
  display: block;
}
.tempo:hover .bar::before{
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 3px;
  width   : 30%;  
  border-bottom: 3px solid #15cf15;
}

.vol-bar{
  position: relative;
  z-index : 1;
  width: 100px;
  height: 4px;
  background-color: #5A5A5A;
  border-radius: 5px;
}
.vol-bar::before{
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 4px;
  width   : 20%;  
  border-bottom: 4px solid #C1C1C1;
}
.vol-bar i{
  position: absolute;
  color: white;
  font-size: 10px;
  left: 8%;
  bottom: -5px;
  display: none;
}
.dx:hover .vol-bar i{
  display: block;
}
.dx:hover .vol-bar::before{
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 4px;
  width   : 20%;  
  border-bottom: 4px solid #15cf15;
}



/*RESPONSIVE*/

@media all and (max-width:650px){
  .col-menu{
    width: 70px;
  }
  .logo-small{
    display: block;
  }
  .logo-big,
  .icon-sx .testo,
  .playlist,
  .icon-sx h4,
  .download span,
  .barra,
  .user span{
    display: none;
  }
  .tempo{
    width: 100px;
  }
}




@media all and (max-width:760px){
  .row .col{
    width: calc(100% / 2);
  }
  .bar{
    width: 180px;
  }
  .small-icon ul{
    display: block;
  }

}



@media all and (max-width:1100px){
  .row{
    flex-wrap: wrap;
  }
  .row .col{
    width: calc(100% / 4);
    padding-bottom: 20px;
  }
  .tempo{
    max-width: 380px;
  }
  .generi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}