/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.d-flex{
  display: flex;
}
.f-wrap{
  flex-wrap: wrap;
}
.p-10px{
  padding: 10px 0;
}
.pb-30px{
  padding-bottom: 30px;
}
.pl-20px{
  padding-left: 20px;
}
.width-20px{
  width: 20px;
}
/*MAIN CONTAINER*/
.main-container{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  height: 90vh;
}
.container{
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.col-menu{
  flex-shrink: 0;
  width: 230px;
  height: 100%;
  color: white;
  background-color: black;
}
.logo-big{
  width: 150px;
  padding: 20px 0;
  padding-left: 30px;
}
.logo-small{
  width: 30px;
  display: none;
}
.icon-sx{
  padding: 0 30px;
  color: #6C6C6C;
}
.icon-sx ul li{
  list-style: none;
  padding: 5px 0;
}
.icon-sx ul li a{
  text-decoration: none;
  color: #6C6C6C;  
}
.icon-big{
  width: 30px;
}
.icon-sx.playlist{
  overflow-y: auto;
}
.col-buttom{
  height: 30px;
  flex-shrink: 0;
  bottom: 0;
  left: 0;
}



.upgrade{
  position: fixed;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  align-items: center;
  height: 90px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, 0.5)
}
.upgrade a{
  text-decoration: none;
  padding: 5px 25px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin-right: 20px;
}
.musica{
  padding-top: 110px;
  background-color: #141922;

  color: white;
}
.generi ul{
  justify-content: center;
}
.generi ul li{
  list-style: none;
  padding: 0 10px;
}
.generi ul li a {
  text-decoration: none;
  color: #7D7F84;
}
h3{
  padding: 30px 20px 20px;
}
.row .col{
  width: calc(100% / 6);
  padding: 0 10px;
}
.row .col:first-child{
  padding-left: 20px;
}
.row .col:last-child{
  padding-right: 20px;
}
.card{
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.card img{
  width: 100%;
}
.circle{
  border-radius: 50%;
}





/*MENU BOTTOM*/
.menu-bottom{
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #282828;
  padding: 0 10px;
}

/*RESPONSIVE*/
@media all and (max-width:600px){
  .logo-big{
    display: none;
  }
  .logo-small{
    display: block;
  }
  .icon-sx .testo{
    display: none;
  }
  .icon-sx.playlist li:nth-of-type(n+2){
    display: none;

  }
}




@media all and (max-width:700px){

}






@media all and (max-width:1100px){

}